# Ignore the massive data files
data/
*.csv
*.parquet
*.json

# Ignore Spark and Python temporary files
__pycache__/
.ipynb_checkpoints/
spark-warehouse/
metastore_db/
*.pyc

# Ignore environment variables
.env